.sectiontitle {
	font-weight: 600;
}

.date {
	color:#CE0000;
	font-weight: 600;
    background: #ddd;
}

body {
    font-family: "Arial", sans-serif;
}

h2 {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

textarea {
    background: #ddd;
    border: 1px solid #ccc;
}

textarea:hover {
    background: #fff;
}

h3 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

#resultlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border: 0px solid black;
    padding: 0.3em;
}

#resultlist li.meta {
    
}

.quote {
    list-style-type: circle;
    border: none;
    padding-left: 1em;
}

.quote::before {
    content: 33;
}

.related {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.hideheader {
    display: none;
}

.toggle {
    background: lawngreen;
	cursor: pointer;
}

.toggle:hover {
    background: yellow;
}

.indent {
    padding-left: 1em!important;
}

#results-wrapper {
	font-weight: 400;
	position: relative;
	font-size: 11.5px;
	padding: 1em;
    width: 50%;
}

#date-entry {
    color: #CE0000;
    font-weight: 600;
}

button {
	background-color: #666;
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: none;
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
}
    
button:hover {
	background-color: #ff0!important;
    color: black;
}
    
button:active {
	position: relative;
	top: 1px;
}

#go {
    background: #0c0;
}
#instructions {
    color: blueviolet;
    font-weight: 600;
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
}

.buttons {
    margin: 10px 0;
}

/* DATEPICKER */

.ui-widget {
    font-size: 0.8em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #eee;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #df0;
}

.ui-state-hover {
    border: 1px solid #f0c!important;
}
#help {
    background: #c00;
}

div {
    
}

.helpbox {
    z-index: 1000;
    background: rgba(229,239,255,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,239,255,1)), color-stop(100%, rgba(255,241,229,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
 /* IE 10+ */background: linear-gradient(to bottom, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5efff', endColorstr='#fff1e5', GradientType=0 );
/* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 3em;
    font-family: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
}

.helpitem {
    padding: 0 0 1em 0;
}

ol {
    margin-left: 0;
    padding-left: 0;
}
