.sectiontitle {
	font-weight: 600;
}

li.date {
	color:#CE0000;
	font-weight: 600;
    background: #ddd;
    padding: 0.3em 1em;
    margin: 1em 0;
}

body {
    font-family: "Arial", sans-serif;
}

h2 {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

textarea {
    height: 350px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
    float: right;
}

h3 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

.resultlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.context {
    list-style-position: inside;
    padding-left: 1.5em;
}

li {
    padding: 0.3em;
    font-size: 10pt;
}

li.meta {
    padding: 1em;
    margin: 1em 0;
}

li.quote {
    list-style-type: disc;
    padding: 0;
    background: #fff;
    box-shadow: 1px 1px 1px 1px #ddd inset;
    list-style-position: outside;
    margin-left: 1em;
}

.related {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.hideheader {
    display: none;
}

.toggle {
    color: red;
	cursor: pointer;
}

.toggle:hover {
    background: yellow;
}

.deleteButton {
    width: 25px;
    height: 25px;
    position: absolute;
    background: #c00;
    right: 2em;
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    border: 0;
    display: none;
    z-index: 9999;
}

.deleteButton:hover {
    background: #ff0;
}

.meta:hover .deleteButton {
   display: block;  
}

.indent {
    margin-left: 2em!important;
}

.results-wrapper {
	font-weight: 400;
	position: relative;
	font-size: 11.5px;
	padding: 1em;
    width: 70%;
}



button {
	background-color: #666;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: none;
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    font-size: 9pt;
    width: 100%;
}
    
button:hover {
	background-color: #ff0!important;
    color: black;
}
    
button:active {
	position: relative;
	top: 1px;
}

#go {
    background: #3b0;
    width: 100%;
}

.instructions {
    color: blueviolet;
    font-weight: 600;
    font-family: "Source Sans Pro", "Open Sans", sans-serif;
    margin: 10px 0;
}

.buttons {
    margin: 10px 0;
    text-align: center;
}

/* DATEPICKER */

.ui-widget {
    font-size: 0.8em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #eee;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #df0;
}

.ui-state-hover {
    border: 1px solid #f0c!important;
}
#help {
    background: #c00;
}

.helpbox {
    z-index: 1000;
    background: rgba(229,239,255,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,239,255,1)), color-stop(100%, rgba(255,241,229,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
 /* IE 10+ */background: linear-gradient(to bottom, rgba(229,239,255,1) 0%, rgba(255,241,229,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5efff', endColorstr='#fff1e5', GradientType=0 );
/* IE6-9 */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
    font-size: 11pt;
    overflow: scroll;
}

.helpitem {
    padding: 0 0 1em 0;
    font-size: 11pt;
}

ol {
    margin-left: 0;
    padding-left: 0;
}

.dataEntry {
    float: right;
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    background: #eee;
    height: 100%;
    padding: 8px 8px 8px 14px;
}

.credit {
    font-family: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
    font-size: 8pt;
}

p a {
    text-decoration: none;
    color: black;
    background: rgba(44,255,255,0.1);
    padding: 2px;
    overflow: hidden;
}

p a:hover {
    z-index: 100;
    background: #00b7ff;
    color: white;
}

.helpbox-content {
    padding: 3em;
}

.loading {
    background: #f00;
    color: #fff;
    width: 85%;
    height: 40px;
    text-align: center;
    vertical-align: center;
    line-height: 40px;
    position: absolute;
    top: 1em;
    right: 1em;
    font-family: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
    display: none;
}

#form {
    background: #f0f0f0;
    padding: 1em;
    font-size: 11pt;
    float: left;
    width: 100%;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    border: thick solid #f4d4f4
}

.answer {
    background: white;
    border: 1px black solid;
    padding: 3px;
    width: 100%;
}

.question {
    padding: 3px;
    font-weight: 600;
}

.formentry {
    margin: 3px 0;
    padding: 3px;
}



.formbutton2 {
    width: 20%;
    float: right;
    margin-top: -0.2rem;
}

.counter-wrapper {
    padding: 1rem;
    text-align: right;
}

#subject {
    font-size: 125%;
    font-weight: 600;
}

#addNew {
    background: #3b0;
}

.lastformentry {
    margin-bottom: 1rem;
}

.pagination {
    background: white;
    border: 1px black solid;
    padding: 3px;
    font-size: 110%;
}

.disabled {
    background: #ccc;
}

.disabled:hover {
    background: #ccc!important;
}

.finished {
    font-weight: 600;
    background: #ee5;
    padding: 0.2em 0.5em;
}

@media screen and (min-width: 38rem)  {
    .hide-desktop {
        display: none; 
    }
}
.mobile-warning {
    padding: 3em;
    height: 3em;
    position: absolute;
    top: 5em;
}

.mobile-box {
    z-index: 1000;
    background: rgba(255,239,229,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(255,239,229,1) 0%, rgba(241,255,229,1) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,239,229,1)), color-stop(100%, rgba(241,255,229,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(255,239,229,1) 0%, rgba(241,255,229,1) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(255,239,229,1) 0%, rgba(241,255,229,1) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(255,239,229,1) 0%, rgba(241,255,229,1) 100%);
 /* IE 10+ */background: linear-gradient(to bottom, rgba(255,239,229,1) 0%, rgba(241,255,229,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5efff', endColorstr='#fff1e5', GradientType=0 );
/* IE6-9 */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
    font-size: 11pt;
    overflow: scroll;
}
